<h1 mat-dialog-title>Изменение пользователя</h1>
<form class="register__form" [formGroup]="editForm" (ngSubmit)="editUser()">
  <mat-form-field>
    <mat-label>Логин</mat-label>
    <input
      matInput
      formControlName="username"
      placeholder="Например, a.panasik"
    />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Фамилия</mat-label>
    <input matInput formControlName="lastName" />
  </mat-form-field>
  <div class="login__btns">
    <button mat-raised-button color="accent" type="submit" mat-dialog-close>
      Изменить
    </button>
    <button mat-raised-button color="warn" mat-dialog-close>Назад</button>
  </div>
</form>
