<div class="chat__container">
  <div class="chat__header">
    <div class="chat__title">Chat</div>
    <mat-icon mat-dialog-close>close</mat-icon>
  </div>
  <ul mat-dialog-content class="chat__messages">
    <li *ngFor="let message of messageList">{{ message }}</li>
  </ul>
  <div class="chat__input">
    <input
      [(ngModel)]="newMessage"
      (keyup)="$event.keyCode == 13 && sendMessage()"
    />
    <button mat-raised-button color="warn" (click)="sendMessage()">Send</button>
  </div>
</div>
