.example-spacer {
  flex: 1 1 auto;
}
.container {
  margin: 0 10%;
  margin-top: 15px;
}
span {
  margin: 0 10px;
}
span a {
  text-decoration: none;
}

.toolbar__logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.toolbar__links {
  margin-left: 70px;
}
.toolbar__links a {
  margin: 0 10px;
  text-decoration: none;
}

.toolbar__title {
  background-color: #34b860;
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 20px;
}
.toolbar {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0 10%;
  justify-content: space-between;
}
.toolbar__info {
  display: flex;
}
.toolbar__links {
  display: flex;
}
.toolbar__links a {
  color: #000000;
}

.toolbar__links a:after {
  content: "";
  display: block;
  width: 0;
  height: 3px;
  background: transparent;
  transition: all 0.3s;
}

.toolbar__links a:hover:after {
  width: 100%;
  background: #8fff00;
}

.chat__link {
  position: absolute;
  right: 10%;
  bottom: 20px;
  cursor: pointer;
}
.chat__link mat-icon {
  width: 36px;
  height: 36px;
  font-size: 36px;
  transition: all 0.3s ease;
}
.chat__link mat-icon:hover {
  transform: scale(1.5);
}
