.numbers-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nums {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nums button {
  margin-bottom: 20px;
}
