<mat-toolbar>
  <div class="toolbar">
    <div class="toolbar__logo">
      <a routerLink="" class="toolbar__title">Картотека</a>
      <div class="toolbar__links" *ngIf="currentUser">
        <a routerLink="numbers">Карточки</a>
        <a *ngIf="currentUser?.role === 'admin'" routerLink="users"
          >Пользователи</a
        >
      </div>
    </div>

    <div class="toolbar__info">
      <div style="margin-right: 20px; cursor: pointer">
        {{ currentUser?.username }}
      </div>
      <button
        mat-raised-button
        color="warn"
        *ngIf="currentUser?.username"
        (click)="logout()"
      >
        Выйти
      </button>
    </div>
  </div>
</mat-toolbar>

<div class="container">
  <router-outlet></router-outlet>
</div>
