/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.login__btns {
  display: flex;
  flex-direction: column;
}
.login__btns button {
  margin: 5px 0;
}
